@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

$envcolor: #eaaf37;
$textcolor: #585755;
$tabsback: #fafafa;

@mixin row {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
}

@mixin column {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
}

@mixin image-resize {
    -webkit-background-size:cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.middle-text {
    font-size: 16px;
}

.title {
    font-size: 18px;
    color: $textcolor;
}

.normal-text {
    font-size: 14px;
}

.normal-color {
    color: $textcolor;
}

@mixin topmove {
    position: relative;
    top: -68px;
}

.App {
    text-align: center;

    .App-header {
        position:fixed; 
        z-index:100; 
        top:0; 
        width:94%; 
        background-color:rgba($color: white, $alpha: 0.8);
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: space-between;
        padding: 15px;
        // border: 1px solid black;
        // text-align: left;

        .App-logo {
            // height: 46px;
            width: 120px;
            float: left;
            // border: 1px solid black;
        }

        .App-menu {
            width: 35px;
            float: right;
            // border: 1px solid black;
        }
    }

    .App-aboutus {
        
        .banner {
            margin: 63px auto;
            width: 100%;
            height: 100%;
        }

        .sub-container {
            padding-left: 20px;
            padding-right: 20px;
            @include topmove;
        }
        
    }

    .App-home {
        .App-home-banner {
            margin: 63px auto;
            // padding: 40px;
            // width: 100%;
            // border: 1px solid black;
        }

        .App-home-aboutus {
            margin-top: 40px;
            padding-left: 20px;
            padding-right: 20px;
            .title {
                font-size: 20px;
            }
            .brand {
                background-color: $envcolor;
                @include row();
                justify-content:center;
                align-items: center; 
                margin-top: 15px;
                height: 130px;
            }
            .tea {
                margin-top: 20px;
                background-color: $envcolor;
                @include row();
                justify-content:center;
                align-items: center; 
                height: 130px;
            }
            .design {
                margin-top: 20px;
                background-color: $envcolor;
                @include row();
                justify-content:center;
                align-items: center; 
                height: 130px;
            }
        }

        .App-home-product {
            margin-top: 40px;
            padding-left: 20px;
            padding-right: 20px;
            .title {
                font-size: 20px;
                margin-top: 10px;
            }

            .tea-series {
                margin-top: 15px;
                // margin: 0 auto;
                width: 100%;
                .slider {
                    div {
                        p {
                            color: $textcolor;
                        }
                    }
                }
            }
            .r-series {
                margin-top: 15px;
                .slider {
                    div {
                        p {
                            color: $textcolor;
                        }
                    }
                }
            }
        }

        .App-home-news {
            margin-top: 30px;
            margin-bottom: 40px;
            padding-left: 20px;
            padding-right: 20px;
            text-align: center;

            .title {
                font-size: 20px;
            }


        }

        .App-home-process {
            margin-top: 30px;
            margin-bottom: 40px;
            padding-left: 20px;
            padding-right: 20px;
            text-align: center;

            .title {
                font-size: 20px;
            }

            .wrapper {
                @include row();
                flex-wrap: wrap;
                justify-content: space-around;

                .item {
                    margin-left: 10px;
                    margin-top: 20px;
                    width: 90px;

                    .circle {
                        width: 90px;
                        height: 90px;
                        border-radius: 50%;
                        background-color: #eaaf37;
                        .process-img {
                            width: 100%;
                        }
                    }

                    .title {
                        font-size: 16px;
                        margin-top: 10px;
                    }

                    .text {
                        font-size: 14px;
                        margin-top: 5px;
                        color: $textcolor;
                        letter-spacing: 0;
                        line-height: 28px;
                    }
                }
            }
        }
    }

    .App-footer {
        background: #F2F2F5;
        height: 100%;
        height: 60px;
        @include column();
        justify-content: center;
    }
}

.drawer-panel {
    // width: 100%;
    // height: 100%;
    // background: #F9F9F9;
    // boxShadow: rgba(0, 0, 0, 0.188235) 0px 10px 20px, rgba(0, 0, 0, 0.227451) 0px 6px 6px
    padding: 30px;
    @include column();
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-spacing: 0;
    line-height: 28px;
    
    .link {
        text-decoration: none;
        margin-bottom: 40px;
        color: $textcolor;
    }
}

$tabs-height: 45px;

@mixin tabs-item {
    width: 90px;
    height: $tabs-height;
    float: left;
    @include row();
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.tabs {
    background: $tabsback;
    height: $tabs-height;
    @include topmove();

    .link {
        @include tabs-item();
        text-decoration:none;
        color: $textcolor;
    }

    .link-plus {
        @include tabs-item();
        text-decoration:none;
        color: $envcolor;
        border-bottom-color: $envcolor;
        border-bottom-width: 2px;
        border-bottom-style: solid;
    }
}
