@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

$envcolor: #eaaf37;
$textcolor: #585755;
$tabsback: #fafafa;

@mixin row {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
}

@mixin column {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
}

@mixin image-resize {
    -webkit-background-size:cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@mixin container {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.middle-text {
    font-size: 16px;
}

.title {
    font-size: 20px;
    color: $textcolor;
}

.sub-title {
    font-family: STSongti-SC-Light;
    font-size: 16px;
    color: #999999;
    letter-spacing: 0;
    line-height: 28px;
}

.normal-text {
    font-size: 14px;
    line-height: 28px;
}

.normal-color {
    color: $textcolor;
}

@mixin topmove {
    position: relative;
    top: -68px;
}

.App {
    text-align: center;

    .App-header {
        position:fixed; 
        z-index:100; 
        top:0; 
        width:94%; 
        background-color:rgba($color: white, $alpha: 0.8);
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: space-between;
        padding: 15px;
        // border: 1px solid black;
        // text-align: left;

        .App-logo {
            // height: 46px;
            width: 120px;
            float: left;
            // border: 1px solid black;
        }

        .App-menu {
            width: 35px;
            float: right;
            // border: 1px solid black;
        }
    }

    .App-aboutus {
        .sub-container {
            padding-left: 20px;
            padding-right: 20px;
            @include topmove;
            padding-top: 20px;

            .title {
                text-align: left;
            }

            .normal-text {
                text-align: left;
            }

            .clearfix {
                font-size: 20px;
                text-align: center;
            }

            .line {
                @include row();

                .time {
                    flex: 0 0 20%;
                }
                .event {
                    flex: 0 0 80%;
                }
            }
        }
        
    }

    .App-home {
        .App-home-banner {
            margin: 63px auto;
            // padding: 40px;
            // width: 100%;
            // border: 1px solid black;
        }

        .App-home-aboutus {
            // margin-top: 40px;
            padding-left: 20px;
            padding-right: 20px;
            .title {
                font-size: 20px;
            }
            .brand {
                background-color: $envcolor;
                @include row();
                justify-content:center;
                align-items: center; 
                margin-top: 15px;
                height: 130px;
            }
            .tea {
                margin-top: 20px;
                // background-color: $envcolor;
                @include row();
                justify-content:center;
                align-items: center; 
                height: 160px;
                background-image: url("../images/chayi.png");
                @include image-resize();

                .left {
                    width: 50%;
                    height: 100%;

                }
                .right {
                    width: 50%;
                    height: 100%;
                    background-color: white;
                    z-index: 10;
                    opacity: 0.75;
                    @include column();
                    // text-align: center;
                    @include column();
                    justify-content: center;
                    align-items: center;
                    padding: 10px;
                }
            }

            .r {
                margin-top: 20px;
                // background-color: $envcolor;
                @include row();
                justify-content:center;
                align-items: center; 
                height: 160px;
                background-image: url("../images/ruanoubao.png");
                @include image-resize();

                .left {
                    width: 50%;
                    height: 100%;

                }
                .right {
                    width: 50%;
                    height: 100%;
                    background-color: white;
                    z-index: 10;
                    opacity: 0.75;
                    @include column();
                    // text-align: center;
                    @include column();
                    justify-content: center;
                    align-items: center;
                    padding: 10px;
                }
            }
            .design {
                margin-top: 20px;
                // background-color: $envcolor;
                @include row();
                justify-content:center;
                align-items: center; 
                height: 250px;
                background-image: url("../images/wecando-b.png");
                @include image-resize();

                .left {
                    width: 50%;
                    height: 100%;

                }
                .right {
                    width: 50%;
                    height: 100%;
                    background-color: white;
                    z-index: 10;
                    opacity: 0.75;
                    @include column();
                    // text-align: center;
                    @include column();
                    justify-content: center;
                    align-items: center;
                    padding: 10px;
                }
            }
        }

        .App-home-product {
            margin-top: 40px;
            padding-left: 20px;
            padding-right: 20px;
            .title {
                font-size: 20px;
                margin-top: 10px;
            }

            .tea-series {
                margin-top: 15px;
                // margin: 0 auto;
                width: 100%;
                .slider {
                    div {
                        p {
                            color: $textcolor;
                        }
                    }
                }
            }
            .r-series {
                margin-top: 15px;
                .slider {
                    div {
                        p {
                            color: $textcolor;
                        }
                    }
                }
            }
        }

        .App-home-news {
            margin-top: 30px;
            margin-bottom: 40px;
            padding-left: 20px;
            padding-right: 20px;
            text-align: center;

            .title {
                font-size: 20px;
            }


        }

        .App-home-process {
            margin-top: 30px;
            margin-bottom: 40px;
            padding-left: 20px;
            padding-right: 20px;
            text-align: center;

            .title {
                font-size: 20px;
            }

            .wrapper {
                @include row();
                flex-wrap: wrap;
                justify-content: space-around;

                .item {
                    margin-left: 10px;
                    margin-top: 20px;
                    width: 90px;

                    .circle {
                        width: 90px;
                        height: 90px;
                        border-radius: 50%;
                        background-color: #eaaf37;
                        .process-img {
                            width: 100%;
                        }
                    }

                    .title {
                        font-size: 16px;
                        margin-top: 10px;
                    }

                    .text {
                        font-size: 14px;
                        margin-top: 5px;
                        color: $textcolor;
                        letter-spacing: 0;
                        line-height: 28px;
                    }
                }
            }
        }
    }

    .App-news {
        .news-container {
            @include container();

            .content {
                margin-bottom: 50px;
                .clearfix {
                    text-align: left;
                }
            }
        }
    }

    .App-product {
        .sub-container {
            padding-left: 20px;
            padding-right: 20px;
            @include topmove;
            padding-top: 0px;
            // height: 1000px;
            height: auto;
            margin-bottom: 400px;
            .title {
                margin-top: 40px;
                div {
                    
                }
            }

            .images {
                margin-top: 20px;
                @include row();
                flex-wrap: wrap;
                justify-content: space-between;
                // align-items: center;
                // justify-content: center;

                .box {
                    // border: 1px solid black;
                    @include column;
                    justify-content: center;
                    align-items: center;
                    width: 32%;
                    height: 100%;
                }
            }
        }
    }

    .App-join {
        .join-container {
            @include topmove;
            padding: 20px;
            .box {
                margin-top: 20px;

                .t {
                    font-size: 16px;
                    color: $textcolor;
                    margin-top: 10px;
                }
            }
        }

    }

    .App-contact {
        .contact-container {
            @include container();

            .num {
                font-size: 32px;
                color: $envcolor;
            }
        }
    }

    .App-footer {
        background: #F2F2F5;
        // height: 100%;
        width: 100%;
        // height: 60px;
        @include column();
        justify-content: center;
        p {
            margin-top: 25px;
            margin-bottom: 25px;
        }
    }
}

.drawer-panel {
    // width: 100%;
    // height: 100%;
    // background: #F9F9F9;
    // boxShadow: rgba(0, 0, 0, 0.188235) 0px 10px 20px, rgba(0, 0, 0, 0.227451) 0px 6px 6px
    padding: 30px;
    @include column();
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-spacing: 0;
    line-height: 28px;
    
    .link {
        text-decoration: none;
        margin-bottom: 40px;
        color: $textcolor;
    }
}

$tabs-height: 45px;

@mixin tabs-item {
    @media (min-width: 320px) {
        width: 70px;
        font-size: 13px;
    }

    @media (min-width: 375px) {
        width: 90px;
        font-size: 14px;
    }
    @media (min-width: 414px) {
        width: 90px;
        font-size: 15px;
    }
    height: $tabs-height;
    float: left;
    @include row();
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.tabs {
    background: $tabsback;
    height: $tabs-height;
    @include topmove();

    .link {
        @include tabs-item();
        text-decoration:none;
        color: $textcolor;
    }

    .link-plus {
        @include tabs-item();
        text-decoration:none;
        color: $envcolor;
        border-bottom-color: $envcolor;
        border-bottom-width: 3px;
        border-bottom-style: solid;
    }
}

.banner {
    margin: 65px auto;
    width: 100%;
    height: 100%;
}

.fullimg {
    width: 100%;
    height: 100%;
}

.clear {
    text-align: left;
}

.top13 {
    margin-top: 13px;
}

.top20 {
    margin-top: 20px;
}

.top40 {
    margin-top: 40px;
}

.link {
    text-decoration: none;
    margin-bottom: 40px;
    color: $textcolor;
}

.tel {
    text-align: left;
}

.anchar-link {
    color: $envcolor;
    text-decoration: none;
}


.bgfff{width:100%;background-color:#fff;}
.bgfff7{width:100%;background-color:#fff7f7;}
.bgf7f{width:100%;background-color:#f7ffff;}
.bgef7{width:100%;background-color:#fffef7;}
.bgfaf{width:100%;background-color:#fafafa;}