@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

$envcolor: #eaaf37;
$textcolor: #585755;

@mixin row {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
}

@mixin column {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
}

@mixin image-resize {
    -webkit-background-size:cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.App {
    text-align: center;

    .App-header {
        background-color: white;
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: space-between;
        padding: 15px;
        // border: 1px solid black;
        // text-align: left;

        .App-logo {
            // height: 46px;
            width: 120px;
            float: left;
            // border: 1px solid black;
        }

        .App-menu {
            width: 35px;
            float: right;
            // border: 1px solid black;
        }
    }

    .App-home {
        .App-home-banner {
            margin: 0 auto;
            // padding: 40px;
            width: 100%;
            // border: 1px solid black;
        }

        .App-home-aboutus {
            margin-top: 40px;
            padding-left: 20px;
            padding-right: 20px;
            .title {
                font-size: 20px;
            }
            .brand {
                background-color: $envcolor;
                @include row();
                justify-content:center;
                align-items: center; 
                margin-top: 15px;
                height: 130px;
            }
            .tea {
                margin-top: 20px;
                background-color: $envcolor;
                @include row();
                justify-content:center;
                align-items: center; 
                height: 130px;
            }
            .design {
                margin-top: 20px;
                background-color: $envcolor;
                @include row();
                justify-content:center;
                align-items: center; 
                height: 130px;
            }
        }

        .App-home-product {
            margin-top: 40px;
            padding-left: 20px;
            padding-right: 20px;
            .title {
                font-size: 20px;
                margin-top: 10px;
            }

            .tea-series {
                margin-top: 15px;
                // margin: 0 auto;
                width: 100%;
                .slider {

                }
            }
            .r-series {
                margin-top: 15px;
            }
        }

        .App-home-process {
            margin-top: 40px;
            margin-bottom: 40px;
            padding-left: 20px;
            padding-right: 20px;
            text-align: center;

            .title {
                font-size: 20px;
            }

            .wrapper {
                @include row();
                flex-wrap: wrap;
                justify-content: space-around;

                .item {
                    margin-left: 10px;
                    margin-top: 20px;
                    width: 90px;

                    .circle {
                        width: 90px;
                        height: 90px;
                        border-radius: 50%;
                        background-color: #eaaf37;    
                    }

                    .title {
                        font-size: 18px;
                        margin-top: 10px;
                    }

                    .text {
                        font-size: 14px;
                        margin-top: 5px;
                        color: $textcolor;
                    }
                }
            }
        }
    }
}
